In [1]:
# import the pandas library
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])
print( df)
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print( df)
print (df['one'].median())
print (df['one'].isnull())
#Total missing value for each attribute
print (df.isnull().sum())
#any missing values?
print (df['one'].isnull().values.any())
#Total no. of missing values
print (df.isnull().sum().sum())

        one       two     three
a  0.848768 -0.128940  0.578229
c -2.804692  1.306723  0.656576
e  1.042466 -0.982625  0.023920
f -0.329088 -1.381245  1.210031
h  2.104977 -0.764836  0.975284
        one       two     three
a  0.848768 -0.128940  0.578229
b       NaN       NaN       NaN
c -2.804692  1.306723  0.656576
d       NaN       NaN       NaN
e  1.042466 -0.982625  0.023920
f -0.329088 -1.381245  1.210031
g       NaN       NaN       NaN
h  2.104977 -0.764836  0.975284
0.8487681538621735
a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool
one      3
two      3
three    3
dtype: int64
True
9

In [2]:
print ("NaN replaced with '0':")
print( df.fillna(0))

NaN replaced with '0':
        one       two     three
a  0.848768 -0.128940  0.578229
b  0.000000  0.000000  0.000000
c -2.804692  1.306723  0.656576
d  0.000000  0.000000  0.000000
e  1.042466 -0.982625  0.023920
f -0.329088 -1.381245  1.210031
g  0.000000  0.000000  0.000000
h  2.104977 -0.764836  0.975284

In [3]:
print(df)
print( df.fillna(method='pad'))

        one       two     three
a  0.848768 -0.128940  0.578229
b       NaN       NaN       NaN
c -2.804692  1.306723  0.656576
d       NaN       NaN       NaN
e  1.042466 -0.982625  0.023920
f -0.329088 -1.381245  1.210031
g       NaN       NaN       NaN
h  2.104977 -0.764836  0.975284
        one       two     three
a  0.848768 -0.128940  0.578229
b  0.848768 -0.128940  0.578229
c -2.804692  1.306723  0.656576
d -2.804692  1.306723  0.656576
e  1.042466 -0.982625  0.023920
f -0.329088 -1.381245  1.210031
g -0.329088 -1.381245  1.210031
h  2.104977 -0.764836  0.975284

C:\Users\Prateek\AppData\Local\Temp\ipykernel_15920\1346297352.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print( df.fillna(method='pad'))

In [4]:
print(df)
print( df.fillna(method='bfill'))

        one       two     three
a  0.848768 -0.128940  0.578229
b       NaN       NaN       NaN
c -2.804692  1.306723  0.656576
d       NaN       NaN       NaN
e  1.042466 -0.982625  0.023920
f -0.329088 -1.381245  1.210031
g       NaN       NaN       NaN
h  2.104977 -0.764836  0.975284
        one       two     three
a  0.848768 -0.128940  0.578229
b -2.804692  1.306723  0.656576
c -2.804692  1.306723  0.656576
d  1.042466 -0.982625  0.023920
e  1.042466 -0.982625  0.023920
f -0.329088 -1.381245  1.210031
g  2.104977 -0.764836  0.975284
h  2.104977 -0.764836  0.975284

C:\Users\Prateek\AppData\Local\Temp\ipykernel_15920\190117098.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print( df.fillna(method='bfill'))

In [5]:
print(df)
print( df.dropna())

        one       two     three
a  0.848768 -0.128940  0.578229
b       NaN       NaN       NaN
c -2.804692  1.306723  0.656576
d       NaN       NaN       NaN
e  1.042466 -0.982625  0.023920
f -0.329088 -1.381245  1.210031
g       NaN       NaN       NaN
h  2.104977 -0.764836  0.975284
        one       two     three
a  0.848768 -0.128940  0.578229
c -2.804692  1.306723  0.656576
e  1.042466 -0.982625  0.023920
f -0.329088 -1.381245  1.210031
h  2.104977 -0.764836  0.975284

In [6]:
#Interpolation of immediate data before and after it (average is taken)

print(df.interpolate())

        one       two     three
a  0.848768 -0.128940  0.578229
b -0.977962  0.588891  0.617403
c -2.804692  1.306723  0.656576
d -0.881113  0.162049  0.340248
e  1.042466 -0.982625  0.023920
f -0.329088 -1.381245  1.210031
g  0.887945 -1.073041  1.092658
h  2.104977 -0.764836  0.975284

In [7]:
import pandas as pd

df = pd.read_csv("loan_data_set.csv")      #paste entire file path
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'loan_data_set.csv'

In [ ]:
to_drop = ['Gender','Married']
#df.drop(columns=to_drop, inplace=True)
df.drop(to_drop, inplace=True, axis=1)

In [ ]:
df.head()

,Loan_ID,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})
df

     brand  rating style
0  Yum Yum     4.0   cup
1  Yum Yum     4.0   cup
2  Indomie     3.5   cup
3  Indomie    15.0  pack
4  Indomie     5.0  pack

In [ ]:
df.drop_duplicates()

     brand  rating style
0  Yum Yum     4.0   cup
2  Indomie     3.5   cup
3  Indomie    15.0  pack
4  Indomie     5.0  pack

In [ ]:
#To remove duplicates on specific column(s), use subset.
df.drop_duplicates(subset=['brand'])

     brand  rating style
0  Yum Yum     4.0   cup
2  Indomie     3.5   cup

In [ ]:
#To remove duplicates on specific column(s), use subset.
#to remove duplicates and keep last occurrences, use keep.
df.drop_duplicates(subset=['brand', 'style'], keep='last')

     brand  rating style
1  Yum Yum     4.0   cup
2  Indomie     3.5   cup
4  Indomie     5.0  pack

In [ ]:
#https://pandas.pydata.org/docs/reference/frame.html